body{
    font-family: arial;
    background-color: blueviolet;
    margin:0;
    padding:0;
}  

h2{
    text-align: center;
    margin-top:20px;
}

form{
    max-width: 400px;
    margin:20px auto;
    padding:20px;
    background-color: blueviolet;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label{
    display:block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="text"],

select{
    width:calc(100%-100%px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

input[type="submit"]{
    width: 100%;
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color: beige;
    color: blueviolet;
    cursor: pointer;
}

input[type="submit"]:houver{
    background-color: aqua;
}