body{
    font-family:"roboto stab",serif;
}

h1 {
    font-weight: 900;
    font-size: 700;
}

h2{ 
    font-weight: 100%;
    font-size: 1,100;
}

h3{
    font-weight: 100%;
    font-size: 1,100;
}

main{
    width: 100;
}

header{
    background-color: blueviolet;
    padding: 100px;
    color: black;
}

section{
    padding:1em;
    color: beige;
}

footer{
    padding: 1em;
    text-align:center;
    background-color: aqua;
    color: blue;
    position:absolute;
    left: 0;
    bottom: 0;
    right:0;
}

.bg video{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background:url(../img/backgroundimage.png) 
    no-repeat center;
    background-size: cover;
}


