body{
    font-family:arial,Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:50 px auto;
    text-align:center;
}

h1{
    color: blueviolet;
}

button{
    padding: 10px 20px;
    font-size:16px;
    background-color: blueviolet;
    color: black;
}

button:houver{
    background-color: aliceblue;
}